<%- include("partials/header.ejs")%>
<!-- <!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Fit a Roo</title>
  <link href="css/style.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <nav class="navbar navbar-dark bg-dark">
      <h2 class = "logo">Fit<span>-A-</span>Roo</h2>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="exercises.html">Exercises</a></li>
        <li><a href="contact.html">Contact Us</a></li>
      </ul>
      <a href = "#" class = "btn">Login</a>
</nav>    
  <div class = "aboutContainer">
    <div class = "aboutInside">
      <h3>About Fit a Roo</h3><br>
      <h1>Our goal is to make fitness affordable and approachable</h1>  
    </div>
    <div class = "aboutInsideBottom">
      <br><br>
      <h2>Created to help you live a better, happier, healthier life.</h2><br><br>
      <p>We believe fitness should be accessible to everyone, everywhere, regardless of income level or access to a gym. That's why we offer hundreds of free, full-length workout videos, the most affordable and effective workout programs on the web, meal plans, and helpful health, nutrition and fitness information.</p>
    </div>
  </div>
</body>

</html>
 -->

<!-- STILL WORKING. NEED TO ADJUST ACCORDING WITH THIS REPLIT. BEEN WORKING WITH A SEPARATE REPLI (WITH JUST HTML AND CSS) FOR EASY TO WORK WITH. -->
<%- include("partials/footer.ejs")%>
  