<%- include("partials/header.ejs")%>
<div class="page">
  <div class = "aboutContainer text-white" style="font-family: 'Montserrat', sans-serif;">
    <div class = "forBKG">
      <div class = "aboutInside">
        <br><br><br>
        <p class="display-2">About Fit-<span class="red-a">A</span>-Roo</p><br>
        <p class="display-5">Our goal is to make fitness affordable and approachable.</p>  
                <p class="h4">We created  Fit-A-Roo to help you live a better, happier, and healthier life.</p>
        <p class="h4">We believe fitness should be accessible to everyone, everywhere, regardless of income level or access to a gym. That's why we created a simple platform for you track and explore how to workout.</p>
      </div>
    </div>
  </div>
</div>
  <%- include("partials/footer.ejs")%>


<!-- <!-- STILL WORKING. NEED TO ADJUST ACCORDING WITH THIS REPLIT. BEEN WORKING WITH A SEPARATE REPLI (WITH JUST HTML AND CSS) FOR EASY TO WORK WITH. -->
