<%- include("partials/header.ejs")%>
<!DOCTYPE html>
<html>

<body>
  <div class = "aboutContainer">
    <div class = "forBKG">
      <div class = "aboutInside">
        <br><br><br>
        <h3>About Fit a Roo</h3><br>
        <h1>Our goal is to make fitness affordable and approachable</h1>  
      </div>
    </div>
    <div class = "aboutInsideBottom">
        <br><br>
        <h2>Created to help you live a better, happier, healthier life.</h2><br><br>
        <p>We believe fitness should be accessible to everyone, everywhere, regardless of income level or access to a gym. That's why we offer hundreds of free, full-length workout videos, the most affordable and effective workout programs on the web, meal plans, and helpful health, nutrition and fitness information.</p>
    </div>
  </div>
</body>
<hr>
  <%- include("partials/footer.ejs")%>
  
</html>


<!-- <!-- STILL WORKING. NEED TO ADJUST ACCORDING WITH THIS REPLIT. BEEN WORKING WITH A SEPARATE REPLI (WITH JUST HTML AND CSS) FOR EASY TO WORK WITH. -->
