<%- include("partials/header.ejs")%>
<div class="page">
  <div id = "contactBody " class="text-white p-3">
    <div class = "contactTop p-5">
      <h2 class="display-1" >Meet the Fit A Roo Team</h2>
      <br>
      <p class="display-5">We are proud of the talented, cross-disciplinary team we’ve built to continue growing our library of fitness and wellness content, and the technology that drives it all. Even though we are a distributed team with diverse backgrounds, we share a common goal – making fitness and wellness content available to as many people as possible.</p>

    </div>
    <div class = "contactInside">
      <ul>  
        <li>Founder
          <ul class = "dropdown dropdown-contact">
            <li>Yavik Kapadia</li>
            <li>Master degree in Kinesiology</li>
            <li>10 years experience in physical therapy</li>
            <li>Email: MasterYavik@gmailo.com</li>
            <li>Phone #: 555-123-4565</li>
          </ul>
        </li>
        <li>Content Creators
          <ul class = "dropdown dropdown-contact">
            <li>Layla Galle</li>
            <li>Yoga Expert</li>
            <li>10 years as a Yoga Instructor</li>
            <li>Email: MasterYavik@gmailo.com</li>
            <li>Phone #: 555-123-4567</li>
            <br>
            <li>Saul Mendoza-Loera</li>
            <li>Trainer</li>
            <li>15 years as Weight Trainer</li>
            <li>Email: MasterYavik@gmailo.com</li>
            <li>Phone #: 555-123-4568</li>
          </ul>
        </li>
        <li>Behind the Scene
          <ul class ="dropdown dropdown-contact">
            <li> Ngoc Tran-Dao </li>
            <li>Customer Service</li>
            <li>5 years as a Trainer</li>
            <li>Email: Knocker@gmailo.com</li>
            <li>Phone #: 555-123-4569</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <br>
</div>

<%- include("partials/footer.ejs")%>


