<%- include("partials/header.ejs")%>

  

<%- include("partials/footer.ejs")%>


<!--   <!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Fit a Roo</title>
  <link href="css/style.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <nav class="navbar navbar-dark bg-dark">
      <h2 class = "logo">Fit<span>-A-</span>Roo</h2>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="exercises.html">Exercises</a></li>
        <li><a href="contact.html">Contact Us</a></li>
      </ul>
      <a href = "#" class = "btn">Login</a>
</nav>    
  <div class = "contactContainer">
    <div class = "contactInsideL">
      <h2>Meet the Fitness Fit-a-Roo Team</h2><br>
      <p>We are proud of the talented, cross-disciplinary team we’ve built to continue growing our library of fitness and wellness content. Even though we all are not trainers, we share a common goal - guide and help our clients to achieve their goal. </p>
    </div>
    <div class = "contactInsideR">
      <div class ="insideR">
      <div class="dropdown">
        <button class="founderbtn"> Founder </button>
        <div class= "dropdown-content">
          <p> Yavik Kapadia </p><br>
          <p>Master degree in Kinesiology</p><br>
          <p>10 years experience in physical therapy</p><br>
          <p>Email: MasterYavik@gmailo.com</p><br>
          <p>Phone #: 555-123-4565</p>
        </div>
      </div>
      <div class="dropdown">
        <button class="contentbtn"> Content Creators </button>
        <div class ="dropdown-content">
        <ul>
          <li>
            <p> Layla Gallez </p><br>
            <p>Yoga Expert</p><br>
            <p>10 years as a Yoga Instructor</p><br>
            <p>Email: MasterYavik@gmailo.com</p><br>
            <p>Phone #: 555-123-4567</p>
          </li>
          <li>
            <p> Saul Mendoza-Loera </p><br>
            <p>Trainer</p><br>
            <p>15 years as Weight Trainer</p><br>
            <p>Email: MasterYavik@gmailo.com</p><br>
            <p>Phone #: 555-123-4568</p>
          </li>
        </ul>
        </div>
      </div>
      <div class="dropdown">
        <button class="bts-btn"> Behind the Scene </button>
        <div class= "dropdown-content">
          <p> Ngoc Tran-Dao </p><br>
          <p>Customer Service</p><br>
          <p>5 years as a Trainer</p><br>
          <p>Email: Knocker@gmailo.com</p><br>
          <p>Phone #: 555-123-4569</p>
        </div>
      </div>
      </div>
    </div>    
  </div>
</body>

</html>
 -->