<%- include("partials/header.ejs")%>

  <body id = "contactBody">
    <div class = "contactInside">
       <ul>  
            <li>Founder
              <ul class = "dropdown">
                <li>Yavik Kapadia</li>
                <li>Master degree in Kinesiology</li>
                <li>10 years experience in physical therapy</li>
                <li>Email: MasterYavik@gmailo.com</li>
                <li>Phone #: 555-123-4565</li>
              </ul>
            </li>
            <li>Content Creators
              <ul class = "dropdown">
                <li>Layla Galle</li>
                <li>Yoga Expert</li>
                <li>10 years as a Yoga Instructor</li>
                <li>Email: MasterYavik@gmailo.com</li>
                <li>Phone #: 555-123-4567</li>
                <br>
                <li>Saul Mendoza-Loera</li>
                <li>Trainer</li>
                <li>15 years as Weight Trainer</li>
                <li>Email: MasterYavik@gmailo.com</li>
                <li>Phone #: 555-123-4568</li>
              </ul>
            </li>
            <li>Behind the Scene
              <ul class ="dropdown">
                <li> Ngoc Tran-Dao </li>
                <li>Customer Service</li>
                <li>5 years as a Trainer</li>
                <li>Email: Knocker@gmailo.com</li>
                <li>Phone #: 555-123-4569</li>
              </ul>
            </li>
        </ul>
    </div>
  </body>

</html>

  

<%- include("partials/footer.ejs")%>


<!--   <!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Fit a Roo</title>
  <link href="css/style.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
 -->
