<html>
<%- include("partials/header.ejs")%>
<!----hero ----->
<body>
 <div class = "hero">
  <div class = "welcomeQuote">
    <br><br><br>
    <h1>First step matters.</h1><br>
    <h3>Do not let other say you cannot do it.</h3>
    <h3>Prove them wrong!</h3><br>

 <button id = "read"> Read More </button>
  </div>
 </div>
   </body>
<%- include("partials/footer.ejs")%>

  </html>
