
<%- include("partials/header.ejs")%>
<!----hero ----->

 <div class = "hero">
  <div class = "welcomeQuote">
    <br><br><br>
    <h1>First step matters.</h1><br>
    <h3>Do not let others say you cannot do it.</h3>
    <h3>Prove them wrong!</h3><br>

 <button id = "read"> Read More </button>
  </div>
 </div>
<%- include("partials/footer.ejs")%>
