<!--- Login page --->
<%- include("partials/header.ejs")%>
  <div class="page">
  <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css"></script>
<div class = "loginBkGr">
  <div class = "loginBod">
  
    <div class ="form-group">
      <h1 id = "loginH1">Login</h1>
      <form method="POST">
        <label for="username">Username:</label> <input type="text" name="username" id="username"> <br>
        <label for="password">Password:</label> <input type="password" id="password" name="password"> <br>
        <button class="btn btn-fit" id="loginButton">Login</button>
      </form>
      
    </div>  
  <% if (typeof loginError != "undefined" && loginError) { %>
      <p class="error">Wrong Credentials!</p>
  <% } %>
  </div>
    
</div>
<br>
  </div>
  <%- include("partials/footer.ejs")%>
