<!--- sign up --->

  <%- include("partials/header.ejs")%>
<div class="page">
<div class="page-form-page" style="width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-image: url(/img/hero/hero5.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;">
  <div style="min-height: 70vh;
  display: flex;">
  <form method="POST" action="/user/new" class="row" id="signUpForm">
    <div class="signUpHeader">
      <br>
      <h3 class="text-center font-weight-bold text-black">Sign Up</h5>
      <br>
    </div>
    <div class="signUpCol">
      <span style="color: black;">First Name:</span>
      <input type="text" class="form-control" name="fName">
      <span style="color: black;">Last Name:</span>
      <input type="text" class="form-control" name="lName">
    </div>
    <br>
    <div class="signUpCol">
      <span style="color: black;">Date of Birth:</span>
      <input type="date" class="form-control" name="birthDate">
      <span style="color: black;">Email:</span>
      <input type="email" class="form-control" name="email"> 
    </div>
    <br>
    <div class="signUpCol">
      <span style="color: black;">Password:</span>
      <input type="password" class="form-control" name="password">
      <span style="color: black;">Goals:</span>
      <input type="text" class="form-control" name="goals"><br>
    </div>
    <div class="text-center">
      <button id="signUpBttn" class="btn btn-fit">Sign Up</button>
      <br><br>
    </div>
  </form>
  </div>
  <br>
</div>
</div>
  <%- include("partials/footer.ejs")%>
