body{
  width: 100%;
  height: 100%;
  padding:0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
}
.hero{
  height: 100vh;
  width: 100%;
  background-image: url("../img/background.webp");
  background-size: cover;
  background-position: center;
}

.logo{
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}
span{
  color: #d82222;
}

.welcomeQuote{
  position: absolute;
  top: 50%;
  left: 7%;
}
h1{
  color: white;
  font-size: 75px;
  margin: 20px 0px 20px;
}
h3{
  color: white;
}
#read{
  background-color: transparent;
  color: green;
  border: 2px solid green;
  padding: 10px 10px 10px 10px;
  letter-spacing: 5px;
  border-radius: 25px;
}

#profile{
  float: right;
}

#cards{
  width: 70rem;
  margin: auto;
}
.col{
  width: 18rem;
  height: 30rem;
  border: solid gray;
  border-radius: 10px;
  margin-left: 1rem;
}

.dropdown{
   margin-left: 2rem;
}

#searchExercise{
  margin-left: 2rem;
}



.values{
  color: #c02121;
}

